@model dbCompanyTest.Models.Order

@{
    ViewData["Title"] = "OrderFinishView";
}
<link href="~/css\orderfinish.css" rel="stylesheet" />
<div class="OrderFinish center">
    
    <div class="m_50">
    <img src="~/homeImg/Shoespace1.png" class="" />
    </div>
    <div class="m_50">
    <img src="~/homeimg/OK.png" class="OKpng"/>
    </div>
    <h4>
        已完成購買
    </h4>
    <div class ="m_10">
        您的訂單編號為:@Html.DisplayFor(model => model.訂單編號)
    </div>
   
    <div class="m_10">
        <a href="@ViewBag.Url">繼續選購</a>
    </div>
</div>