@model dbCompanyTest.Models.Product

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="_CreateProduct">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="商品編號id" class="control-label"></label>
                <input asp-for="商品編號id" class="form-control" />
                <span asp-validation-for="商品編號id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="上架時間" class="control-label"></label>
                <input asp-for="上架時間" class="form-control" />
                <span asp-validation-for="上架時間" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="商品名稱" class="control-label"></label>
                <input asp-for="商品名稱" class="form-control" />
                <span asp-validation-for="商品名稱" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="商品價格" class="control-label"></label>
                <input asp-for="商品價格" class="form-control" />
                <span asp-validation-for="商品價格" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="商品介紹" class="control-label"></label>
                <input asp-for="商品介紹" class="form-control" />
                <span asp-validation-for="商品介紹" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="商品材質" class="control-label"></label>
                <input asp-for="商品材質" class="form-control" />
                <span asp-validation-for="商品材質" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="商品重量" class="control-label"></label>
                <input asp-for="商品重量" class="form-control" />
                <span asp-validation-for="商品重量" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="商品成本" class="control-label"></label>
                <input asp-for="商品成本" class="form-control" />
                <span asp-validation-for="商品成本" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="商品是否有貨" class="control-label"></label>
                <input asp-for="商品是否有貨" class="form-control" />
                <span asp-validation-for="商品是否有貨" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="商品分類id" class="control-label"></label>
                <input asp-for="商品分類id" class="form-control" />
                <span asp-validation-for="商品分類id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="商品鞋種id" class="control-label"></label>
                <input asp-for="商品鞋種id" class="form-control" />
                <span asp-validation-for="商品鞋種id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="商品是否上架" class="control-label"></label>
                <input asp-for="商品是否上架" class="form-control" />
                <span asp-validation-for="商品是否上架" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

