a{
    text-decoration:none;
    color:black;
}
.logo {
    padding: 0px 0px 0px 43%
}
.tool-box {
    margin: 0px 0px;
    margin-right: 3em;
    align-items:center;
}
.tool-p{
    margin-left:10px;
}
.g-nums {
    margin-left: -15px;
    margin-top: -10px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    overflow: hidden;
}

.shortcut-box {
    position: absolute;
    width: 170px;
    height: 202px;
    border: 1px solid #d3d3d5;
    background-color: #fff;
    color: #d5baa5;
    top:4em;
    right: 2%;
    z-index: 2;
    animation: dropdown-menu-fade-in 0.3s ease 1, dropdown-menu-move-down 0.3s ease-out 1;
    margin-top: 0px;
    display: none;
}
    .shortcut-box a {
        color: #d5baa5;
    }
.shortcut-i {
    padding: 0 12px;
    height: 67px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid #d3d3d5;
    color: #d5baa5;
}

