body {
}

.loginMain{
    display:flex;
    margin:auto;
    width:80%;
}

.otherLogin{
    width:700px;
    height:500px;
    margin:auto 0;
    border:5px solid gray;
    justify-content:center;
    text-align:center
}

.Login {
    width: 700px;
    height: 500px;  
    margin: auto 0;
    border: 5px solid gray;
}
