<div id="createPage">
    <form id="userForm" method="post" enctype="multipart/form-data">
        <input type="hidden" name="客戶編號" />
        <input type="text" name="客戶姓名" class="Linput" placeholder="姓名" /><br />
        <input type="text" name="客戶電話" class="Linput" placeholder="電話" /><br />
        <input type="text" name="身分證字號" class="Linput" placeholder="身分證字號" /><br />
        <select name="縣市" id="city" class="Linput"></select><br />
        <select name="區" id="town" class="Linput"></select><br />
        <input type="text" name="地址" class="Linput" placeholder="地址" /> <br />
        <input type="text" name="Email" class="Linput" placeholder="Email" /><br />
        <input type="text" name="密碼" class="Linput" placeholder="密碼" /> <br />
        <select name="性別" id="sex" class="Linput"><option>男</option><option>女</option></select><br />
        <input type="text" name="生日" class="Linput" placeholder="生日" /><br />
        <input type="submit" value="註冊" id="checkcreate" />
    </form>
</div>
<script src="~/datas/taiwan_districts.js"></script>
<script src="~/js/city_data.js"></script>
<script>
    $(`#checkcreate`).on(`click`, async function (event) {
        event.preventDefault();

        const userdata = new FormData($(`#userForm`).eq(0)[0]);
        $.post("@Url.Content("~/Login/CheckClient")", userdata, function (data) {
            console.log(data);
            alert(data);

        })
    });
</script>
