@{
    ViewData["Title"] = "Login";
}
<link href="~/css/loginpage.css" rel="stylesheet" />
<h1>Login</h1>
<script src="https://accounts.google.com/gsi/client" async defer></script>
<main>
    
    <div class="loginMain">
        <div class="otherLogin">
            <div id="g_id_onload"
                 data-client_id="1097400727922-rjchl3ubr8r1mtjpirchq6v7dl9vfcb2.apps.googleusercontent.com"
                 data-login_uri="https://localhost:7103/Login/loginSussess"
                 data-auto_prompt="false">
            </div>
            <div class="g_id_signin" style="width:300;margin:auto"
                 data-type="standard"
                 data-size="large"
                 data-theme="outline"
                 data-text="sign_in_with"
                 data-shape="rectangular"
                 data-logo_alignment="left">
            </div>
        </div>
        <div class="Login">
        </div>
    </div>
</main>

