@{
    ViewData["Title"] = "Login";
}
<link href="~/css/loginpage.css" rel="stylesheet" />
<h1>登入/註冊</h1>
<script src="https://accounts.google.com/gsi/client" async defer></script>
<main>
    
    <div class="loginMain">
        <div class="otherLogin">
                <div id="g_id_onload"
                     data-client_id="1097400727922-rjchl3ubr8r1mtjpirchq6v7dl9vfcb2.apps.googleusercontent.com"
                    data-login_uri="https://localhost:7103/Home/loginSussess"
                     data-auto_prompt="false">
                </div>
                <div class="g_id_signin" style="width:200px;margin:50px auto;height:60px"
                     data-type="standard"
                     data-size="large"
                     data-theme="outline"
                     data-text="sign_in_with"
                     data-shape="rectangular"
                     data-logo_alignment="left">
                </div>
        </div>
        <div class="Login">
            <form>
                <p>帳號(Email)</p>
                <input type="text" asp-controller="Login" asp-action="Login" name="txtAccount" class="Linput"/>
                <p>密碼</p>
                <input type="text" asp-controller="Login" asp-action="Login" name="txtPassword" class="Linput" /><br />
                <input type="submit" value="登入" class="btn btn-primary"/>
            </form>
        </div>
    </div>
</main>

