
@{
    ViewData["Title"] = "RePassword";
}

<h1>重設密碼</h1>
<input type="text" id="newPassword" />
<p id="passwordformat"></p>
<input type="text" id="dblnewPassword" />
<p id="check"></p>
<botton id="ok" class="btn btn-primary">確認</botton>

@section Scripts{
    <script>
        let newPassword = $(`#newPassword`);
        let dblnewPassword = $(`#dblnewPassword`);
        let check = $(`#check`);
        dblnewPassword.on('blur', function () {
            if(dblnewPassword.val()===newPassword.val()){
                check.text("通過");
                check.css("color","green");
            }
            else{
                check.text("與密碼不相符");
                check.css("color","red");
            }
        });

        newPassword.on(`blur`,function(){
            let checkInput = $(this);
            let CPchar, a = [false, false, false, false];
            let special = "!#$%^&*";
            if (checkInput.val().length > 6) {
                a[3] = true;
            }
            for (let i = 0; i < checkInput.val().length; i++) {
                CPchar = checkInput.val().charAt(i).toUpperCase();
                if (CPchar >= "A" && CPchar <= "Z") {
                    a[0] = true;
                }
                if (CPchar >= "0" && CPchar <= "9") {
                    a[1] = true;
                }
                for (let j = 0; j < special.length; j++) {
                    specialchar = special.charAt(j);
                    if (CPchar == specialchar) {
                        a[2] = true;
                    }
                }
            }
            if (a[0] && a[1] && a[2] && a[3]) {
                $(`#passwordformat`).text("OK");
                $(`#passwordformat`).css("color","green");
            }
            else {
                $(`#passwordformat`).text("密碼要包含英、數字、特殊符號(!#$%^&*)且長度需大於6");
                $(`#passwordformat`).css("color","red");
            }
        });
    </script>
}
