

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - dbCompanyTest</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dbCompanyTest.styles.css" asp-append-version="true" />
    <link href="~/css/layout.css" rel="stylesheet" />
    <link href="~/css/mychat.css" rel="stylesheet" />
    @await RenderSectionAsync("Style", required: false)

</head>
<body>
    <header>
        <div class=" d-flex justify-content-between" style="padding: 1em 0%">
            @*============== LOGO =================*@
            <div class="logo">
                <a class="" asp-controller="Home" asp-action="Index"><img src="~/homeImg/Shoespace1.png" /></a>
            </div>
            @*============== 搜尋,我的最愛,會員中心,購物車 =================*@
            <div class="d-flex justify-content-end">
                <div class="tool-box d-flex">
                    <div class="search-box flex-fill">
                        <input class="web-search search_keyword" type="text" placeholder="Search" id="search-box">
                    </div>
                    <div class="tool-p flex-fill">
                        <a id="web-search-btn" href=""><img src="~/homeImg/search_header_pc.png"></a>
                    </div>
                    <div class="tool-p shortcut flex-fill">
                        <a class="tool-item" asp-controller="MemberCenter" asp-action="Index">
                            <img src="~/homeImg/sign_pc.png">
                        </a>
                    </div>
                    <div class="tool-p flex-fill">
                        <a class="tool-item flex-fill" href=""><img src="~/homeImg/collect_pc.png"></a>
                    </div>
                    <div class="tool-p shopping-cart flex-fill">
                        <a class="tool-item" href=""><img src="~/homeImg/shopping_cart_pc.png"><span class="g-nums" id="cart_num_pc">0</span></a>
                    </div>
                </div>
            </div>
        </div>
        @*================= nav ===================*@

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom  ">
            <div class="container-fluid">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-sm-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="TestClients" asp-action="Index">客戶資料</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ProductWall" asp-action="Details">商品牆</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Staff_Home" asp-action="login">員工登入</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Login">會員登入</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="MyLove" asp-action="index">我的最愛</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="index">後台產品維護</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav flex-sm-grow-1">

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ProductWall" asp-action="Index" asp-route-id="1">男鞋</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ProductWall" asp-action="Index" asp-route-id="2">女鞋</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ProductWall" asp-action="Index" asp-route-id="3">KOL聯名</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ProductWall" asp-action="Index" asp-route-id="4">迪士尼</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ProductWall" asp-action="Index" asp-route-id="5">服飾包袋</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ProductWall" asp-action="Index" asp-route-id="6">口罩</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div @*class="container"*@>
        <main role="main" @*class="pb-3"*@>
            @RenderBody()
        </main>
    </div>

    <div class="chatMain">
        <div class="dot eyes-left"></div>
        <div class="dot eyes-right"></div>
        <div class="dot mouth"></div>
    </div>
    <div class="chatBody">
        <div class="chatHeader"><button id="connection" class="btn btn-dark">連線客服</button></div>
        <div class="chatBBody">
            <p id="SelfID"></p>
            <div class="chat">
                <div class="myName">我</div>
                <div class="myChat">
                    你好我有問題!!
                </div>
            </div>
            <div class="chat">
                <div class="otherName">系統</div>
                <div class="otherChat">
                    親愛的訪客您好，客服人員接在忙線中。請稍後
                </div>
            </div>
        </div>
        <div class="chatFooter">
            <input type="text" id="message" />
            <img src="~/images/send.png" id="send" style="width:30px;height:30px;"/>
            <p>由戴浩宇製作</p>
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - dbCompanyTest - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/mychat.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
