@{
    ViewData["Title"] = "Service";
}
<link href="~/css/service.css" rel="stylesheet" />
<div id="serviceName">
    <h1 style="margin:5px 5%;">客戶服務中心</h1>
    <div id="Main">
        <div class="row">
            <div class="list-group col-3">
                <div class="list-group-item list-group-item-action" >
                    <input type="hidden" name="connectionId"/>
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Gary</h5>
                        <div style="width:10px;height:10px;border-radius:50px;background-color:red"></div>
                    </div>
                </div>
                <div class="list-group-item list-group-item-action" >
                    <input type="hidden" name="connectionId"/>
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Gary</h5>
                        <div style="width:10px;height:10px;border-radius:50px;background-color:red"></div>
                    </div>
                </div>
                <div class="list-group-item list-group-item-action">
                    <input type="hidden" name="connectionId" />
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">小楊</h5>
                        <div style="width:10px;height:10px;border-radius:50px;background-color:red"></div>
                    </div>
                </div>
                <div class="list-group-item list-group-item-action">
                    <input type="hidden" name="connectionId" />
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Alan</h5>
                        <div style="width:10px;height:10px;border-radius:50px;background-color:red"></div>
                    </div>
                </div>
            </div>
            <div class="col-5" id="callback">
                <div id="inputArea">
                    <input type="text" id="msg"/>
                    <img src="~/images/send.png"/>
                </div>
            </div>
        </div>
    </div>

</div>


@section Scripts{
    <script>
        var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();
    </script>
}

