@model dbCompanyTest.Models.TestStaff

@{
    ViewData["Title"] = "Index";
}
@{
    Layout = "_Back_Layout";
}

<h1>員工頁面</h1>

<h4>TestStaff</h4>
<h2>@ViewBag.acc</h2>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
