@model dbCompanyTest.Models.TestStaff

@{
    ViewData["Title"] = "login";
}
@{
    Layout = null;
}

<link href="~/css/staff_login.css" rel="stylesheet" />


<form method="post">
    @Html.AntiForgeryToken()
    <div class="box1">
        <div class="containerr">
            <div class="top">
                <header>員工登入</header>
            </div>

            <div class="input-field">
                <input type="text" asp-controller="TestStaffs" asp-action="login" name="txtAccount" value="ST1-0008797" class="input" placeholder="Username" />
            </div>

            <div class="input-field">
                <input type="password" asp-controller="TestStaffs" asp-action="login" name="txtPassword" value="123456" class="input" placeholder="Password" />
            </div>

            <div class="input-field">
                <input type="submit" class="submit" value="Login" id="">
            </div>

            <div class="two">
                <label><a asp-action="Index" asp-controller="Home">返回</a></label>
            </div>
        </div>
    </div>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
