<table class="table table-striped-columns" id="GR_table">
    <thead>
        <tr>
            <th>階段</th>
            <th>部門</th>
            <th>簽核人員</th>
            <th>簽核時間</th>
            <th>輸入意見</th>
            <th>簽核</th>
        </tr>
    </thead>
    <tbody>
        @*起單*@
        <tr>
            <td>起單</td>
            <td id="dpm_str"></td>
            <td id="man_str"></td>
            <td id="time_str"></td>
            <td id="com_str">
                <input class="form-control" id="inp_com_str" />
            </td>
            <td id="sin_str">
                <span id="span_sin_str"></span>
                <select class="form-control" id="list_stu">
                    <option>未啟動</option>
                    <option>敬陳</option>
                </select>
            </td>
        </tr>
        @*部門主管*@
        <tr>
            <td>部門主管</td>
            <td id="dpm_spv"></td>
            <td id="man_spv"></td>
            <td id="time_spv"></td>
            <td id="com_spv">
                <input class="form-control" id="inp_com_spv" />
                <span id="span_com_spv"></span>
            </td>
            <td id="sin_spv">
                <span id="span_sin_spv"></span>
                <select class="form-control" id="list_stu_spv">
                    <option>待簽</option>
                    <option>敬陳</option>
                    <option>退回起單人</option>
                </select>
            </td>
        </tr>
        @*協辦部門*@
        <tr>
            <td>協辦部門</td>
            <td id="dpm_cod"></td>
            <td id="man_cod"></td>
            <td id="time_cod"></td>
            <td id="com_cod">
                <input class="form-control" id="inp_com_cod" />
                <span id="span_com_cod"></span>
            </td>
            <td id="sin_cod">
                <span id="span_sin_cod"></span>
                <select class="form-control" id="list_stu_cod">
                    <option>待簽</option>
                    <option>敬陳</option>
                    <option>退回上階段</option>
                    <option>退回起單人</option>
                </select>
            </td>
        </tr>
        @*老闆簽核*@
        <tr>
            <td>老闆</td>
            <td id="dpm_bos"></td>
            <td id="man_bos"></td>
            <td id="time_bos"></td>
            <td id="com_bos">
                <input class="form-control" id="inp_com_bos" />
                <span id="span_com_bos"></span>
            </td>
            <td id="sin_bos">
                <span id="span_sin_bos"></span>
                <select class="form-control" id="list_stu_bos">
                    <option>待簽</option>
                    <option>敬陳</option>
                    <option>退回上階段</option>
                    <option>退回起單人</option>
                </select>
            </td>
        </tr>
        @*執行*@
        <tr>
            <td>執行</td>
            <td id="dpm_ecu"></td>
            <td id="man_ecu"></td>
            <td id="time_ecu"></td>
            <td id="com_ecu">
                <input class="form-control" id="inp_com_ecu" />
                <span id="span_com_ecu"></span>
            </td>
            <td id="sin_ecu">
                <select class="form-control" id="list_stu_sin_ecu1">
                    <option>待簽</option>
                    <option>退回上階段</option>
                    <option>完成</option>
                    <option>退回起單人</option>
                </select>
                <span id="span_sin_ecu"></span>
            </td>
        </tr>
    </tbody>
</table>

<script>
    var i_whostart = $("#inp_whostart").val();
    var s_executor = $("#sele_executor").val();
    var i_stu = $("#inp_sta").val();
    var i_spvs = $("#inp_super_vs").val();
    var i_co = $("#inp_co_dep_who").val();
    var i_boss = "ST2-0010170";
    $("#list_stu_sin_ecu1,#list_stu_bos,#list_stu_cod,#list_stu,#list_stu_spv").css("display", "none");
    //$("#span_sin_str,#span_sin_spv,#span_sin_cod,#span_sin_bos,#span_sin_ecu").css("display", "none");
    $("#inp_com_str,#inp_com_spv,#inp_com_cod,#inp_com_bos,#inp_com_ecu").css("display", "none");

    $("#span_sin_str").css("display", "");
    $("#inp_com_ecu").css("display", "none");
    $("#list_stu_sin_ecu1").css("display", "none");

    $("#dpm_str").text(i_whostart);
    $("#time_str").text($("#inp_starttime").val());
    $("#com_str").text($("#inp_cont").val());
    $("#dpm_ecu").text(s_executor);
    //---簽核狀態
    $("#span_sin_ecu").text($("#inp_executor_sin").val());
    $("#time_ecu").text($("#inp_execut_time").val());
    $("#span_sin_spv").text($("#inp_super_vs_sin").val());
    $("#span_sin_cod").text($("#inp_co_dep_sin").val());
    $("#span_sin_bos").text($("#inp_boss_sin").val());
    $("#span_sin_ecu").text($("#inp_executor_sin").val());
    console.log($("#span_sin_spv").text())




    $.ajax({
        url: `@Url.Content("~/Staff_Home/stf_info")`,
        type: "GET",
        data: { "stf": i_whostart },
        dataType: "json"
    })
        .done(data => {
            $("#dpm_str").text(data.部門)
            $("#man_str").text(`${data.員工編號} ${data.員工姓名}`);
        });
    $.ajax({
        url: `@Url.Content("~/Staff_Home/stf_info")`,
        type: "GET",
        data: { "stf": s_executor },
        dataType: "json"
    })
        .done(data => {
            $("#dpm_ecu").text(data.部門);
            $("#man_ecu").text(`${data.員工編號} ${data.員工姓名}`);
        });
    $.ajax({
        url: `@Url.Content("~/Staff_Home/stf_info")`,
        type: "GET",
        data: { "stf": $("#inp_super_vs").val() },
        dataType: "json"
    })
        .done(data => {
            $("#dpm_spv").text(data.部門);
            $("#man_spv").text(`${data.員工編號} ${data.員工姓名}`);
        });
    $.ajax({
        url: `@Url.Content("~/Staff_Home/stf_info")`,
        type: "GET",
        data: { "stf": $("#inp_co_dep_who").val() },
        dataType: "json"
    })
        .done(data => {
            $("#dpm_cod").text(data.部門);
            $("#man_cod").text(`${data.員工編號} ${data.員工姓名}`);
        });
    $.ajax({
        url: `@Url.Content("~/Staff_Home/stf_info")`,
        type: "GET",
        data: { "stf": i_boss },
        dataType: "json"
    })
        .done(data => {
            $("#dpm_bos").text(data.部門);
            $("#man_bos").text(`${data.員工編號} ${data.員工姓名}`);
        });

    if (i_stu != `未啟動` || i_stu != `退回起單人` || i_stu == `完成`) {
        $("#span_sin_str").text("敬陳")
    }


    if (i_whostart == splitstf) {//起單
        if (i_stu == `未啟動` || i_stu == `退回起單人`) {
            //$("#list_stu_sin_ecu1,#list_stu_bos,#list_stu_cod,#list_stu_spv,").text("display", "none");
            $("#list_stu").css("display", "");
            $("#inp_com_str").css("display", "");
            $("#inp_com_str").text($("#inp_cont").val());
            $("#list_stu").text("未啟動");
            $("#span_sin_str").css("display", "none");
        }
        else {
            //$("#span_sin_spv").css("display", "none");
            $("#span_sin_str").css("display", "");
            $("#span_sin_str").text("敬陳")
        }
    }


    if (i_spvs == splitstf) {//部門主管 待簽
        if (i_stu == `部門主管 待簽`) {
            $("#span_sin_spv").css("display", "none");
            $("#list_stu_spv").css("display", "");
            $("#inp_com_spv").css("display", "");
            $("#span_sin_str").text("敬陳");
        }
    }

    if (i_co == splitstf) {
        if (i_stu == `協辦部門 待簽`) {
            $("#span_sin_cod").css("display", "none");
            $("#list_stu_cod").css("display", "");
            $("#inp_com_cod").css("display", "");
            $("#span_sin_str").text("敬陳")
        }
    }

    if (i_boss == splitstf) {
        if (i_stu == `執行長 待簽`) {
            $("#span_sin_bos").css("display", "none");
            $("#list_stu_bos").css("display", "");
            $("#inp_com_bos").css("display", "");
            $("#span_sin_str").text("敬陳")
        }
    }

    if (s_executor == splitstf) {
        if ($("#inp_sta").val() == `執行 待簽`) {
            $("#inp_com_ecu").css("display", "");
            $("#list_stu_sin_ecu1").css("display", "");
            $("#span_sin_ecu").css("display", "none");
            $("#span_sin_str").text("敬陳")
        }
    }


    //---事件
    $("#inp_com_str").on('blur', function () {
        $("#inp_cont").val($("#inp_com_str").val())
    });
    $("#inp_com_spv").on('blur', function () {
        $("#inp_super_vs_sin").val($("#inp_com_spv").val())
    });
    $("#inp_com_cod").on('blur', function () {
        $("#inp_co_dep_opn").val($("#inp_com_cod").val())
    });
    $("#inp_com_bos").on('blur', function () {
        $("#inp_boss_opn").val($("#inp_com_bos").val())
    });
    $("#inp_com_ecu").on('blur', function () {
        $("#inp_ans").val($("#inp_com_ecu").val())
    });


    $("#inp_start").on('click', function () {
        let dt = new Date();
        if (i_whostart == splitstf) {
            if ($(`#list_stu option:selected`).val() == "未啟動")
                $("#inp_sta").val("未啟動");
            else
                $("#inp_sta").val("部門主管 待簽");

            $("#inp_starttime").val(dt);
        }
        if (i_spvs == splitstf) {
            if ($(`#list_stu_spv option:selected`).val() == "待簽")
                $("#inp_sta").val("部門主管 待簽");
            else if ($(`#list_stu_spv option:selected`).val() == "敬陳")
                $("#inp_sta").val("協辦部門 待簽");
            else if ($(`#list_stu_spv option:selected`).val() == "退回起單人")
                $("#inp_sta").val("退回起單人");
            $("#inp_super_vs_time").val(dt);
        }
        if (i_co == splitstf) {
            if ($(`#list_stu_cod option:selected`).val() == "待簽")
                $("#inp_sta").val("協辦部門 待簽");
            else if ($(`#list_stu_cod option:selected`).val() == "敬陳")
                $("#inp_sta").val("執行長 待簽");
            else if ($(`#list_stu_cod option:selected`).val() == "退回上階段")
                $("#inp_sta").val("部門主管 待簽");
            else if ($(`#list_stu_cod option:selected`).val() == "退回起單人")
                $("#inp_sta").val("退回起單人");
            $("#inp_co_dep_time").val(dt);
        }
        if (i_boss == splitstf) {
            if ($(`#list_stu_bos option:selected`).val() == "待簽")
                $("#inp_sta").val("執行長 待簽");
            else if ($(`#list_stu_bos option:selected`).val() == "敬陳")
                $("#inp_sta").val("執行 待簽");
            else if ($(`#list_stu_bos option:selected`).val() == "退回上階段")
                $("#inp_sta").val("協辦部門 待簽");
            else if ($(`#list_stu_bos option:selected`).val() == "退回起單人")
                $("#inp_sta").val("退回起單人");
            $("#inp_boss_time").val(dt);
        }
        if (s_executor == splitstf) {
            if ($(`#list_stu_sin_ecu1 option:selected`).val() == "待簽")
                $("#inp_sta").val("執行 待簽");
            else if ($(`#list_stu_sin_ecu1 option:selected`).val() == "完成")
                $("#inp_sta").val("完成");
            else if ($(`#list_stu_sin_ecu1 option:selected`).val() == "退回上階段")
                $("#inp_sta").val("執行長 待簽");
            else if ($(`#list_stu_sin_ecu1 option:selected`).val() == "退回起單人")
                $("#inp_sta").val("退回起單人");
            $("#inp_execut_time").val(dt);
        }
    });







</script>