<a asp-action="Create" asp-controller="ToDoLists">
    <button class="btn btn-primary mb-3 btnTDL_DT">建立新表單</button>
</a>

<div>
    <table class="table1 table table-striped-columns">
        <thead>
        </thead>
        <thead>
            <tr>
                <th>待辦事項列表</th>
            </tr>
        </thead>
        <thead>
            <tr class="header">
                <th class="col-1">表單編號</th>
                <th class="col-1">表單類型</th>
                <th class="col-3">表單內容</th>
                <th class="col-1">狀態</th>
                <th class="col-1"></th>
            </tr>
        </thead>

        <tbody>
            <tr class="collapse1" id="123">
                <td colspan="5" style="padding:0; ">
                    <div>
                        <table class="table1 table-inner table table-striped-columns" style="margin:0 !important;">
                            <tbody id="ToDolist_tbody">
                            </tbody>
                        </table>
                    </div>
                    <div class="table__wrapper">
                        <table class="table1 table-inner table table-striped-columns">
                            <tbody id="ToDolist_tbody_sec">
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
        <tbody id="tfoot_click">
            <tr>
                <td colspan="5">
                    <div>
                        <table class="table table-striped-columns" style="margin:0 !important;">
                            <tr>
                                <td class="col-1"> </td>
                                <td class="col-1"> </td>
                                <td id="td_text" class="col-1">展開</td>
                                <td class="col-1"> </td>
                                <td class="col-1"> </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot>
        </tfoot>
    </table>
</div>

@*<table class="table table-striped-columns">
    <thead>
    </thead>
    <thead>
        <tr>
            <th>待辦事項列表</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <thead>
        <tr>
            <th>表單編號</th>
            <th>表單類型</th>
            <th>表單內容</th>
            <th>狀態</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="ToDolist_tbody">
        <tr><td id="ToDolist_tr"></td></tr>
    </tbody>
@*<tbody id="ToDolist_tbody_sec" class="collapse">*@
@*<tbody id="ToDolist_tbody_sec" >
    </tbody>*@
@*<tfoot data-bs-toggle="collapse" href="#ToDolist_tbody_sec" role="button" aria-expanded="false" aria-controls="ToDolist_tbody_sec">*@
@* <tfoot id="tfoot_click">
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
    </tfoot>
</table>
<button class="btn btn-primary mb-3" id="test">test</button>*@
<br />
<br />
<br />
<br />
<br />


<script>
    $("#tfoot_click").click(function () {
        console.log(`123456`)
        $("#123").toggleClass("active");

        if ($("#td_text").text() == "展開")
            $("#td_text").text("收折")
        else
            $("#td_text").text("展開");

    });
</script>