<table class="table table-striped-columns">
        <caption>待辦事項</caption>
        <thead>
            <tr>
                <th>交辦內容</th>
                <th>批示</th>
                <th>狀態</th>                
            </tr>
        </thead>
        <tbody id="ToDolist_tbody">

        </tbody>
    </table>

@*<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>*@