<div>
    <table class="table1 table table-striped-columns table-rwd">
        <thead>
        </thead>
        <thead>
            <tr>
                <th>待出貨清單</th>
            </tr>
        </thead>
        <thead tr class="header">
            <tr>
                <th class="col-1">訂單編號</th>
                <th class="col-1">客戶編號</th>
                <th class="col-1">商品數量</th>
                <th class="col-3">送貨地址</th>
                <th class="col-1"></th>
            </tr>
        </thead>




        <tbody>
            <tr class="collapse1" id="456">
                <td colspan="5" style="padding:0; ">
                    <div>
                        <table class="table1 table-inner table table-striped-columns" style="margin:0 !important;">
                            <tbody id="Sheeplist_tbody">
                            </tbody>
                        </table>
                    </div>
                    <div class="table__wrapper">
                        <table class="table1 table-inner table table-striped-columns">
                            <tbody id="Sheeplist_tbody_sec">
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
        <tbody id="Sheeplis_tfoot_click">
            <tr>
                <td colspan="5">
                    <div>
                        <table class="table table-striped-columns" style="margin:0 !important;">
                            <tr>
                                <td class="col-1"> </td>
                                <td class="col-1"> </td>
                                <td id="Sheeplis_td_text" class="col-1">展開</td>
                                <td class="col-1"> </td>
                                <td class="col-1"> </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>






       
    </table>
</div>
<br />
<br />


<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">出貨單 <span></span></h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <input type="hidden" name="ShipperID" id="ShipperID">
                <div class="form-group">
                    <label for="CompanyName">訂單編號</label>
                    <input type="text" class="form-control" id="SID" name="CompanyName" readonly="readonly">
                </div>
                <div class="form-group">
                    <label for="Phone">客戶編號</label>
                    <input type="text" class="form-control" id="CID" name="Phone" readonly="readonly">
                </div>
                <div class="form-group">
                    <label for="Phone">送貨地址</label>
                    <input type="text" class="form-control" id="Add" name="Phone" readonly="readonly">
                </div>
                @*<div id="SDT_div"> </div></div>*@
                <table class="table table-striped-columns">
                    <thead>
                        <tr>
                            <th>商品名稱</th>
                            <th>尺寸種類</th>
                            <th>色碼</th>
                            <th>商品數量</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="SDT_tbody">
                    </tbody>
                </table>


                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                    <button type="button" class="btn btn-primary" id="buttonSend">列印出貨單</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $("#Sheeplis_tfoot_click").click(function () {
        console.log(`123456`)
        $("#456").toggleClass("active");

        if ($("#Sheeplis_td_text").text() == "展開")
            $("#Sheeplis_td_text").text("收折")
        else
            $("#Sheeplis_td_text").text("展開");

    });
</script>