<table class="table table-striped-columns">
    <caption>待出貨清單</caption>
    <thead>
        <tr>
            <th>訂單編號</th>
            <th>客戶編號</th>
            <th>商品名稱</th>
            <th>尺寸種類</th>
            <th>商品數量</th>
            <th>送貨地址</th>
        </tr>
    </thead>
    <tbody id="Sheeplist_tbody">
    </tbody>
</table>

@*<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>*@