<table>
    <thead>
        <tr>
            <th>部門</th>
            <th>簽核人員</th>
            <th>簽核時間</th>
            <th>輸入意見</th>
            <th>簽核</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td id="dpm_str"></td>
            <td id="man_str"></td>
            <td id="time_str"></td>
            <td id="">com_str</td>
            <td id="">sin_str</td>
        </tr>
         <tr>
            <td id="dpm_ecu"></td>
            <td id="man_ecu"></td>
            <td id="time_ecu"></td>
            <td id="com_ecu"></td>
            <td id="sin_ecu"></td>
        </tr>
    </tbody>
</table>