@model dbCompanyTest.Models.TestClient

<input type="hidden" asp-for="客戶編號" class="form-control" />
<form asp-action="password">
    <div class="form-group">
        <label class="control-label">舊密碼</label>
        <input class="form-control" />
        <span asp-validation-for="密碼" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="密碼" class="control-label"></label>
        <input asp-for="密碼" class="form-control" value="" />
        <br />
        <input class="form-control" />
        <span asp-validation-for="密碼" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>


@section Scripts{
    <script>

    </script>
}