@model IEnumerable<dbCompanyTest.Models.ProductsTypeDetail>
@section Style{
    <link href="~/css/HomePage.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap" rel="stylesheet">
}
    @*==============輪播牆=================*@
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a href="/ProductWall/Index/1">
                    <img src="~/homeImg/pc01_1.jpg" class="d-block w-100">
                </a>
            </div>
            <div class="carousel-item">
                <a href="/ProductWall/Index/1">
                    <img src="~/homeImg/pc01_2.jpg" class="d-block w-100">
                </a>
            </div>
            <div class="carousel-item">
                <a href="/ProductWall/Index/1">
                    <img src="~/homeImg/pc01_3.jpg" class="d-block w-100">
                </a>
            </div>
            <div class="carousel-item">
                <a href="/ProductWall/Index/1">
                    <img src="~/homeImg/pc01_4.jpg" class="d-block w-100">
                </a>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <p class="title h1 title1 ">WINTER ISSUE</p>
    <div class="h-div d-flex">


        <div class="title txt">
            <p class="title h1 txt1">22</p>
            <p class=" txt2">
                You've got the outfits ready,beauty prep is well underway,now all that's left to do is to decide which pair of shoes you're going out with.
            </p>
        </div>
        <div class="h-div1">
            <div class="d-flex">
                <a href="/ProductWall/Index/1">
                    <img src="~/homeImg/h0.png" class="img1">
                </a>
                <div class="img2">
                        <p class="title h5 txt3">Style is a way to say who you are <br />without having to speak</p>
                    <a href="/ProductWall/Index/2">
                        <img src="~/homeImg/h1.png" >
                    </a>
                </div>
            </div>
            
            <a href="/ProductWall/Index/3">
                <img src="~/homeImg/h2.png" class="img3">
            </a>
        </div>
        <p class="title h1 txt4">11.28</p>
    </div>

    <a href="/ProductWall/Index/4">
        <img src="~/homeImg/h3.png" style="width:100%">
    </a>
