@model IEnumerable<dbCompanyTest.Models.會員商品暫存>

<div id="divlist">
<div class="card-subtitle">收藏清單</div>
<hr />
<div id="cart">
        @{
            foreach (var item in Model)
            {
                <div>
                            <div>
                                <div><img src="~/images/404.jpg" width="111px" height="153px"/></div>
                                <div>
                                            <div><p>@item.商品名稱</p></div>
                                            <div><span>顏色: </span><span>@item.商品顏色種類</span></div>
                                            <div><span>尺寸: </span><span>@item.尺寸種類</span></div>
                                </div>
                            </div>
                            <div>
                                <div>加入購物車</div>
                                <div>刪除</div>
                
                            </div>
                </div>
            }
    }
</div>
</div>

@section Scripts{
<script>



</script>

}